nav>.logo
{
    background-color: pink;
}
nav>.menu
{
    background-color:#ccccff;
}
nav>.user
{
    background-color:#ccffcc;
}
main
{   /* 容器 */
    display:flex;
    justify-content:center; /* 調整「水平對齊」靠左、置中、靠右、平均分配(起始最左結束最右)、間距平均分配(起始不靠左結束不靠右)，flex-start、center、flex-end、space-between、space-around*/
    align-items:center; /* 調整「垂直對齊」靠上、置中、靠下、預設值、所有內容元素的基線為標準，flex-start、center、flex-end、stretch、baseline*/
    background-color:#cccccc;
}
main>.item
{
    /* 項目 */
    flex:none;
    width:300px;margin:10px;
    background-color:#ffcccc;
}